<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fluently.blog.dao.BlogDao">
    <insert id="insertBlog" parameterType="com.fluently.blog.model.BlogVO">

        insert into blog (id, title,time,vistor_count, visible, owner) values (#{id}, #{title}, #{time}, #{vistor_count}, #{visible}, #{owner})

    </insert>

    <insert id="insertBlogDetail" parameterType="com.fluently.blog.model.BlogDetailVO">

        insert into blog_detail (id, blog_id, content) values (#{id}, #{blog_id}, #{content})

    </insert>

    <select id="getAllBlogList" resultType="com.fluently.blog.model.BlogVO">
        select * from blog ORDER BY time DESC
    </select>

    <select id="getBlogDeitailById" resultType="com.fluently.blog.model.BlogDetailVO">
         select * from blog_detail where blog_id = #{blogId}
    </select>

    <select id="getOneBlogListById" resultType="com.fluently.blog.model.BlogVO">
         select * from blog where id =  #{blogId}
    </select>

    <delete id="deleteBlogById" parameterType="String">
        delete from blog where id=#{blogId}
    </delete>

    <delete id="deleteBlogDetailById" parameterType="String">
        delete from blog_detail where blog_id=#{blogId}
    </delete>

    <update id="updateBlog" parameterType="com.fluently.blog.model.BlogVO">

        UPDATE blog SET title = #{title}, time=#{time}, visible=#{visible} WHERE id = #{id}

    </update>

    <update id="updateBlogDetail" parameterType="com.fluently.blog.model.BlogVO">

        update blog_detail set content=#{content} where blog_id = #{id}

    </update>

    <update id="addVistorCount">

        UPDATE blog SET vistor_count = #{count} WHERE id = #{blogId}

    </update>

    <select id="getMyBlog" parameterType="java.lang.String" resultType="com.fluently.blog.model.BlogVO">
        select * from blog WHERE owner=#{userId} ORDER BY time DESC
    </select>

    <select id="getAllPublicBlog" resultType="com.fluently.blog.model.BlogVO">
        select * from blog WHERE visible=1 ORDER BY time DESC
    </select>
</mapper>