<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fluently.blog.dao.BlogDao">
    <insert id="insertBlog" parameterType="com.fluently.blog.model.BlogVO">

        insert into blog (id, title,time,vistor_count) values (#{id}, #{title}, #{time}, #{vistor_count})

    </insert>

    <insert id="insertBlogDetail" parameterType="com.fluently.blog.model.BlogDetailVO">

        insert into blog_detail (id, blog_id, content) values (#{id}, #{blog_id}, #{content})

    </insert>

    <select id="getAllBlogList" resultType="com.fluently.blog.model.BlogVO">
        select * from blog
    </select>

    <select id="getBlogDeitailById" resultType="com.fluently.blog.model.BlogDetailVO">
         select * from blog_detail where blog_id = #{blogId}
    </select>

    <select id="getOneBlogListById" resultType="com.fluently.blog.model.BlogVO">
         select * from blog where id =  #{blogId}
    </select>

    <delete id="deleteBlogById" parameterType="String">
        delete from blog where id=#{blogId}
    </delete>

    <delete id="deleteBlogDetailById" parameterType="String">
        delete from blog_detail where blog_id=#{blogId}
    </delete>
</mapper>